# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in play_hosts %}
{% set short_name = item.split('.') %}
{{ hostvars[item].ansible_all_ipv4_addresses | ipaddr(hostvars.manager.swarm_cluster_network + hostvars.manager.swarm_cluster_network_cidr) | first }} {{ short_name[0] }} {{ item }}
{% endfor %}
